.ios, .md {
  page-inicio {
    ion-content {
      text-align: center;
      font-size: 130%;
    }
    .selecao_usuario {
      justify-content: center;
      display: flex!important;
      align-items: center!important;
      text-decoration: none;

      ion-item {
        margin-top: 10%;
        margin-bottom: 50%;

        a {

          // color: white;
          // padding: 1em 1.5em;
          text-decoration: none;
          // text-transform: uppercase;
        }

        h2 {
          text-align: center;
          // background-color: map-get($colors, secondary);
          font-size: 120%;
        }

      }

    }
  }
}
